{% extends 'base.html.twig' %}

{% block title %}Solarize My Home{% endblock %}

{% block body %}
    <div class="container jumbotron-centered">
        <div class="jumbotron">
            <h1 class="display-4 text-center">SOLARIZE</h1>
            <p class="lead text-center mt-4">Notre simulation pour estimer votre parc photovoltaïque selon vos besoins</p>
            <hr class="my-4">
            <p class="text-center">Créez un compte ou connectez-vous et démarrez notre simulation</p>
            <div class="row justify-content-center mt-4">
                <a class="btn btn-primary btn-lg btn-width mx-2" href="{{ path('app_login') }}" role="button">Connexion</a>
                <a class="btn btn-primary btn-lg btn-width mx-2" href="{{ path('app_register') }}" role="button">Inscription</a>
            </div>
        </div>
    </div>
{% endblock %}
